main, body
{
    margin: 0px;
    height: 100vh;
}

#busqueda 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 8%;
    margin: auto;
    margin-top: 5%;
}

#rectangulo-rojo 
{
    background-color: #ff9978;
    width: 100%;
    height: 100%;
    position: relative;
}

#rectangulo-blanco {
    background-color: white;
    width: 90%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 5%;
}

#cuadrado-negro 
{
    background-color: #656a73;
    aspect-ratio: 1;
    height: 100%;
}

#barras-grises
{
    display: flex;
    justify-content: space-between;
    height: 2%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.barras-grises
{
    height: 100%;
    background-color: #cccbca;
    width: 20%;
}

#cuadrado-celeste
{
    margin-top: 5%;
    background-color: #c4edf1;
    width: 100%;
    height: 35%;
    position: relative;
}

#cuadrado-azul
{
    position: absolute;
    aspect-ratio: 1;
    height: 75%;
    background-color: #91d3d9;
    top: 12.5%;
    left: 10%;
}

.linea-punteo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 10%;
}

.cuadradito-celeste
{
    width: 15%;
    height: 100%;
    background-color: #c4edf1;
}

.linea-blanca-punteo
{
    width: 75%;
    height: 100%;
    background-color: white;
}

#texto-grande
{
    position: absolute;
    width: 50%;
    height: 75%;
    left: 45%;
    top: 12.5%;
}

#barra-gris-grande
{
    width: 100%;
    height: 15%;
    background-color: #656a73;
}

.barras-blancas-grandes
{
    margin-top: 5%;
    width: 100%;
    height: 5%;
    background-color: white;
}

#barra-blanca-mediana
{
    margin-left: 20%;
    width: 60%;
}

#tarjetitas
{
    margin: auto;
    margin-top: 5%;
    width: 75%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tarjetitas
{
    height: 100%;
    width: 25%;
}

.tarjeta-cuadrado
{
    width: 100%;
    aspect-ratio: 1;
}

.texto-chico
{
    width: 100%;
    height: 34%;
    position: relative;
}

.barra-negra-chica
{
    width: 100%;
    height: 10%;
    background-color: #656a73;
    position: absolute;
    top: 20%;
}

.barra-gris-chica
{
    width: 100%;
    height: 10%;
    background-color: #cccbca;
    position: absolute;
    top: 50%;
}

#mas-chica
{
    width: 50%;
}

.mas-chica
{
    width: 50%;
    top: 80%;
}

#texto-tarjeta-roja
{
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    left: 15%;
    top: 15%;
}

#texto-rojo-oscuro
{
    width: 100%;
    height: 20%;
    background-color: #ed6d47;
}

.texto-tarjeta-blanco
{
    width: 100%;
    height: 5%;
    background-color: white;
    margin-top: 10%;
}

#tarjeta-roja
{
    background-color: #ff9978;
    position: relative;
}

#tarjeta-celeste
{
    background-color: #abe0e5;
}

#tarjeta-amarilla
{
    background-color: #ffc86d;
}